@use '../variables.scss' as *;

.header {
    height: 60px;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    .header-left {
        button {
            background: none;
            border: none;
        }
        svg {
            height: 18px;
            width: 18px;
            filter: $white-filter;
        }
    }
}